<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="margins grid">


	<!-- this is the header component -->
	<div class="header row">
		<img class="logo_header" src="../../assets/logo top.png">
	</div>


	<!-- this is the carousel component -->
	<div class="row">
		<div >
			<div class="carousel row">
				<div class="column" *ngFor="let imgAddr of images">
					<img class="carousel_image" [ngClass]="{'elementToFadeInAndOut': animationTimeout}" src={{imgAddr}} (mouseover)="swipeCarousel()" alt="">
				</div>
			</div>
		</div>
	</div>


	<div class="content row">
		<!-- <p-card header="Despre noi"> -->
			<span class="text">

				<p class="paragraf">
					Compania noastra, Euro Nova este specializata în executia printurilor publicitare de mari dimensiuni, si a tot ce inseamna policromie de calitate foto. Ne adresam tuturor celor care au nevoie de imagini printate fara a tine cont de "tiraj prea mic" sau "dimensiuni prea mari".
				</p>
				<p class="paragraf">
					In ceea ce priveste printurile de mari dimensiuni calitatea produselor, preturile mici, viteza de executie si amabilitatea si seriozitatea echipei noastre ne diferentiaza mult de producatorii similari noua existenti pe piata.
				</p>
				<p class="paragraf">
					Producem in cel mai scurt timp si la cea mai buna calitate cele mai durabile printuri! Capacitatea de productie ajunge pana la 1.000mp / zi.
				</p>
				<p class="paragraf">
					Echipamentele folosite sunt de ultima generatie, calitatea produselor fiind una la cele mai inalte standarde.
				</p>
				<p class="paragraf">
					Dezvoltarea continua si atragerea unui portofoliu din ce in ce mai mare de clienti ne-a adus o binemeritata recunoastere. Azi suntem prezenti in topul producatorilor de profil, calitatea ridicata si pretul mic al  produselor noastre fiind o constanta definitorie pentru noi.
				</p>
				<p class="paragraf">
					Echipa este formata din oameni tineri, bine instruiti si cu experienta in lucru cu clientii. Stim foarte bine ce inseamna un "deadline" scurt, si rezolvam invariabil cerintele clientilor nostrii. Privim toti clientii ca pe niste prieteni si oferim nu numai executie dar si solutii problemelor specifice productiei publicitare.
				</p>

			</span>
		<!-- </p-card> -->
		

		<span class="contact">
			<div class="card">
				<div class="container">
				  <h2><b>Contact</b></h2>
				  <span>

				  </span>
				  <span>
					<h4>+40 722 516 603</h4>
				  </span>
				  <span>
					<h4>printuri@gmail.com</h4>
				  </span>
				  <span>
					<h4>Str. Codrului nr. 11, Magurele - ILFOV</h4>
				  </span>
				  
				</div>
			  </div>
		</span>
	</div>


</div>