

.logo_header{
	display: block;
	max-width: 65%;
	margin-right: auto;
	margin-left: auto;
}

.carousel_image{
	display: block;
	max-width: 15%;
	margin-right: auto;
	margin-left: auto;
}

.carousel{
	display: flex;
	margin-top: 25px;
}

.margins{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 20px;
}

.paragraf{
	margin-top: 1px;
	margin-bottom: 2px;
}

.text{
	max-width: 65%;

}

.contact{
	max-width: 30%;
}

